/*CLASES REUTILIZABLES*/
.logo-cinela {
  width: 50%;
}

/*HEADER*/
.title {
  margin-bottom: 0 !important;
  font-family: 'Cabin', sans-serif;
  font-size: 6em;
}

.nav-index {
  height: 130px;
}

.nav-wrapper ul li {
  display: inline-block;
  padding: 0px 35px;
}

.nav-wrapper {
  text-align: center;
}

nav ul a {
  font-size: 2rem !important;
}

nav ul a:hover {
  color: #80cbc4;    
  -moz-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  -o-transform: scale(2.2);
  -ms-transform: scale(2.2);
  transform: scale(2.2)
}


/*CAROUSEL*/
.slider ul.indicators li.indicator-item.active {
  background-color: #00695c !important;
}

.slider ul.indicators li.indicator-item {
  background-color: #C2BDBD;
}


/*POPULARES*/
.title-top {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  color: #212121;
  font: normal 76px/1 "bonbon", Helvetica, sans-serif;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}


/*FANS*/
.section-fans {  
  margin-bottom: 35%;
}

.movies {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 76px/1 "Akronim", Helvetica, sans-serif;
  color: #212121;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/*CAROUSEL DE FANS*/
.content-all{
  width: 210px;
  margin: auto;
  perspective: 800px;
  position: relative;
  margin-top: 5%;
}

.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover{
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure{
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px black;
  transition: all 300ms;  
}

.content-carrousel figure:hover{
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
  width: 100%;
  transition: all 300ms;
}

.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}


@keyframes rotar{
  from{
      transform: rotateY(0deg);
  }to{
      transform: rotateY(360deg);
  }
}


/*FOOTER*/
footer.page-footer {
  background-color: #212121;
}

.icons-footer .fa {
  font-size: 35px;
  color: white;
  margin-top: 20%;
}

.icons-footer .fa:hover {  
  color: #80cbc4;    
  -moz-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  -o-transform: scale(2.2);
  -ms-transform: scale(2.2);
  transform: scale(2.2)
}

.footer-text {  
  font-family: 'Cabin', sans-serif;
}

